html
{
    margin:0;
    padding:0;
}

body
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #0561E5 0%, #131784 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
    margin:0;
}
/**
* Animation
**/

@keyframes  
{
    0%      {background-position: 0% 50%}
    50%     {background-position: 100% 50%}
    100%    {background-position: 0% 50%}
}

/**
 * Lazy
 */

.lazy
{
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.lazy.loaded
{
    opacity: 1;
}

.image
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image .inner
{
     position: absolute;
     top: 0%;
     right: 0%;
     bottom: 0%;
     left: 0%;
     background-position: center bottom;
     background-size: 50vh;
     background-repeat: no-repeat;
}

