html
{
    margin:0;
    padding:0;
}

body
{
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(360deg, #0561E5 0%, #131784 100%);
    /* background-size: 400% 400%; */
    /* animation: gradient 10s ease-in-out infinite; */
    margin:0;
}
/**
*   Main
**/

.main
{
    display: flex;
}

.description
{
    width: 50vw;
    height: 100vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.description .text 
{
    width: auto;
    padding: 0;
    margin: 0;

}


.description .text p
{
    font-size: 2.4em;
    font-weight: 500;
    margin: 0;
    /* line-height: 0em; */
}

.description .text h1
{
    font-size: 5.0em;
    font-weight: 700;
    margin: 0;

    /* line-height: 0.4em; */
}

.description .text h2
{
    font-size: 2.4em;
    font-weight: 500;
    margin: 0;
    /* line-height: 0.2em; */
}


/**
 *   Lazy
 **/

.lazy
{
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.lazy.loaded
{
    opacity: 1;
}

.image
{
    position: relative;
    width: 50vw;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    justify-content: flex-start;
}

.image .inner
{
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-position: left bottom;
    background-size: 50vh;
    background-repeat: no-repeat;
}

/**
*   Animation
**/

/* @keyframes  gradient
{
    0%      {background-position: 0% 50%}
    50%     {background-position: 100% 50%}
    100%    {background-position: 0% 50%}
} */
